body {
  margin: 0;
  padding: 5px;
}

body ul li:first-child {
  border-top: 0;
}

body ul li:last-child {
  border-bottom: 0;
}

body ul {
  margin: 0;
}

ul li:first-child,
ul li:last-child {
  display: none;
}

a.button,
bar,
baz,
button,
foo,
foo bar baz,
input[type=button],
input[type=submit] {
  border-radius: 5px;
}

.foo,
.foo .bar {
  width: 10px;
}